[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
port = 3306
bind-address = 0.0.0.0
datadir = /var/lib/mysql
log_bin = /var/lib/mysql/mysql-bin
max_connections = 100
key_buffer_size = 256M
lower_case_table_names=2
innodb_buffer_pool_size = 512M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_lock_wait_timeout = 50
innodb_read_io_threads = 4
innodb_write_io_threads = 4
innodb_io_capacity = 200
innodb_autoinc_lock_mode = 2
innodb_stats_on_metadata = 0
innodb_strict_mode = 1
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO
binlog_expire_logs_seconds = 604800
max_binlog_size = 100M
read_only = 1
skip_name_resolve = 1
max_allowed_packet = 64M
wait_timeout = 28800
interactive_timeout = 28800